/*
	Table of Contents:
		import validation styling
		defaults
			- container, header
		elements
		resets & misc
*/

/* import validation styling
----------------------------------------------------------------------------------------------*/

@import url('validation.css');

/* defaults
----------------------------------------------------------------------------------------------*/

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #292929;
	background: url(../Images/texture-gif/yellow.gif);
	margin: 0; padding: 50px 0 0 0;
}

/* container, header, content
----------------------------------------------------------------------------------------------*/

div#container {
	width: 896px;
	margin: 0 auto;
}

.order-header {
	width: 692px;
	padding: 0 84px;
	background: #ffffff;
	border-left: 18px solid #c1c1c1;
	border-right: 18px solid #c1c1c1;
	border-top: 18px solid #c1c1c1;
	overflow: hidden;
}

	.order-header h1 {
		font-family: Georgia,serif;
		color: #2f2d2d;
		font-size: 42px;
		line-height: 30px;
		padding: 36px 0 34px 0;
		border-bottom: 1px solid #bebebe;
	}

.content {
	width: 692px;
	padding: 0 84px;
	background: #ffffff;
	border-left: 18px solid #c1c1c1;
	border-right: 18px solid #c1c1c1;
	border-bottom: 18px solid #c1c1c1;
	overflow: hidden;
}

/* elements
----------------------------------------------------------------------------------------------*/

p.login-error{
	font-family: Georgia,serif;
	color: red;
	font-size: 13px;
	font-style: italic;
}

p.introduction {
	font-family: Georgia,serif;
	color: #2f2d2d;
	font-size: 23px;
	font-style: italic;
	line-height: 30px;
	padding: 36px 0 34px 0;
	border-bottom: 1px solid #bebebe;
	text-align: center;
}

.introduction span {
	color: #6e0303;
	font-size: 21px;
	font-style: normal;
	letter-spacing: 1px;
	font-variant: small-caps;
}

.order-form {
	padding: 30px 0 50px 0;
}


.order-form label {
	font-family: Georgia, serif;
	font-size: 13px;
	color: #050505;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0 0 0 3px;
	cursor: pointer;
}

label sup {
	color: #b31808;
	font-size: 14px;
}

.order-input {
	font-family: Georgia, serif;
	color: #042d2e;
	font-size: 18px;
	width: 364px;
	height:28px;
	margin: 9px 0 8px 0; 
	padding: 5px 0 0 20px;
	border: 4px solid #32a3ad;
}
.order-select {
	font-family: Georgia, serif;
	color: #042d2e;
	font-size: 18px;
	width: 391px;
	height:40px;
	margin: 9px 0 8px 0; 
	padding: 5px 0 0 20px;
	border: 4px solid #32a3ad;
}
.order-input:focus, .order-input:hover, .order-select:focus, .order-select:hover{
	background: url(../imgs/order-input-bg-test.png) no-repeat;
	border: 4px solid #205B64;
}

.order-form .hr {
	width: 100%;
	height: 1px;
	margin: 21px 0;
	border-bottom: 1px solid #e1e1e1;
}
.hr hr {
	display: none;
}

/* resets & misc
------------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, form, input, textarea, ul, li, a img {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	vertical-align: baseline;
	background: transparent;
}

:focus {
	outline: 0;
}

.clear {
	clear: both;
}
.hide {
	display: none;
	visibility: hidden;
}